@import url("../../global.css");

body {
	background-color: #e5e5e5;
	min-width: 350px;
    min-height: 475px;
    font-family: Roboto;
}

.header-container {
	display: flex;
	align-items: center;
	justify-content: space-between;

	margin: 2em 5em;
}

.header-container h2 {
	font-size: 24px;
	font-weight: bold;
	color: #49289e;
}

.header-container button {
	width: 175px;
	height: 50px;

	color: white;
	background: #eb1759;
	font-weight: bold;
	font-size: 18px;
	border-radius: 10px;
	border: none;

	transition: 0.3s;
}

.header-container button:hover {
	transform: translate(0%, 5%) scale(1.05);
	cursor: pointer;
}

.chat-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;

	height: 82vh;

	margin: 0 5em;
}

.chat-container .chat-list-container {
	height: 90%;
    width: 100%;
	
	padding-right: 0.5em;
    overflow: auto;
    overflow-y: scroll;
}

.chat-container .chat-list-container::-webkit-scrollbar {
	width: 0.3em;
	height: 0.3em;
}

.chat-container .chat-list-container::-webkit-scrollbar-thumb {
	background-color: #eb1759;
}

.chat-container .chat-list-container::-webkit-scrollbar-corner {
	background-color: none;
}

.chat-container .chat-list-container .chat-msg {
	display: flex;
	align-items: center;

	/* min-height: 70px; */
	width: 100%;
	padding: 0.6em 0.6em;
	margin-bottom: 0.5em;

	background-color: white;
	border-radius: 10px;	
}

.chat-container .chat-list-container .chat-msg:nth-of-type(even) {
	border: 1.5px solid #eb1759;
}

.chat-container .chat-list-container .chat-msg:nth-of-type(odd) {
	border: 1.5px solid #49289e;
}

.chat-container .chat-list-container .chat-msg img {
    max-height: 50px;
    align-self: flex-start;
}

.chat-container .chat-list-container .chat-msg .username-msg-wrapper {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;

	align-self: flex-start;

	height: 100%;

	margin: 0 1em;
}

.chat-container .chat-list-container .chat-msg .username-msg {
	font-weight: bold;
	font-style: italic;
}

.chat-container .chat-list-container .chat-msg .timestamp-msg {
	display: flex;
	flex-direction: column;

	color: #999999;
	font-style: italic;
	margin-left: auto;
	min-width: 100px;
	align-self: flex-start;
	text-align: right;
}

.chat-container .chat-list-container .user-join-left {
	display: flex;
	align-items: center;

	width: 100%;
	padding: 0.5em 0.8em;
	margin-bottom: 0.5em;

    color: #4D4D4D;
    background-color: white;
    border: 1.5px solid #96EB24;
	border-radius: 10px;
    font-style: italic;
}

/* .chat-container .input-msg-container {
	flex-grow: 1;
} */

.chat-container .input-msg-container {
    width: 100%;
}

.chat-container .input-msg-container > p {
    color: #4E4E4E;
    font-style: italic;
    padding: 0.2em 0.6em;
}

.chat-container .input-msg-container .chat-form {
    display: flex;
    align-items: center;

    width: 100%;
}

.chat-container .input-msg-container .chat-form input {
    width: 100%;

    margin-right: 1em;
    padding: 0.5em 0.8em;

    border: 1.5px solid #7445ED;
    border-radius: 5px;
}

.chat-container .input-msg-container .chat-form button {
    display: flex;
    align-items: center;
    justify-content: center;

    height: 32px;
    width: 100px;
    padding: 0.2em;
    margin-left: auto;

	color: white;
	font-size: 16px;
	font-weight: bold;
    background-color: #96EB24;
    border: none;
	border-radius: 5px;
	
	transition: 0.2s;
}

.chat-container .input-msg-container .chat-form button:hover {
	transform: scale(1.05);
}

@media screen and (max-width: 900px) {
	.header-container {
		margin: 1em 1em;
	}

	.chat-container {
        margin: 0 1em 1em 1em;
        height: 85vh;
    }
    
    .chat-container .chat-list-container .chat-msg img {
        max-height: 30px;
    }

    .chat-container .chat-list-container .chat-msg .timestamp-msg {
        min-width: 90px;
    }
}