extends layout

block head-content
    link(rel="stylesheet" href="/style/rooms.css")
    script(src="/js/rooms.js")

block content
    header(class="header-container")
        div(class="avatar-container")
            div(class="username-container")
                h2=username
                a(href="/" id="change-username")
                    button Change Username
            div(class="avatar")
                img(id="avatarImg" src=`${avatar}` alt="avatar")
    main(class="rooms-container")
        ul(class="rooms-list")
            each room in roomsList
                li
                    div(class="room-data-container")
                        h2 #{room.name}
                    div(class="door-button-container")
                        a(href=`chat/${room.id}`)
                            button
                                img(src="/img/opened-door.png" alt="Get into the room")
                                span(class="Enter") Enter
