extends layout

block head-content
    link(rel="stylesheet" href="/style/admin.css")
    script(src="/js/admin.js")

block content
    header(class="header-container")
        h2 Admin Room
        div
            a(href="/admin/socketEvents")
                button Socket Events
            a(href="/adminLogin")
                button Logout
    main(class="history-container")
        div(class="room-filter")
            select(name="user-list" id="User-list")
                option(value=undefined) All users
                each user in userList
                    option(id=`${user}` value=`${user}`)= user
            select(name="Room-list" id="Room-list")
                option(value='All rooms') All rooms
                each room in roomList
                    option(id=`${room.id}` value=`${room.name}`)= room.name
        div(id='history-container')
            include historyPartial.pug