extends layout

block head-content
    link(rel="stylesheet" href="/style/login.css")
    script(src="/js/login.js")

block content
    div(class="login-container")
        div(class="content")
            div(class="content-items")
                div(class="avatar")
                    img(id="avatarImg" src="#" alt="avatar")
                div(class="side-container")
                    form(action="/rooms", method="post" class="form")
                        h1 Full Chat
                        input(type="text" name="username" id="username" placeholder="Username")
                        a(href="rooms")
                            button(id="getStarted") Get Started
                    a(href="admin" class="admin-page")
                        button Admin