@import url("../../global.css");

body {
	background-color: #e5e5e5;
	min-width: 350px;
	font-family: Roboto;
}

.header-container {
	display: flex;
	align-items: center;
	justify-content: flex-end;

	margin: 3em 5em;
}

.header-container .avatar-container {
	display: flex;
	align-items: flex-start;
}

.avatar-container .username-container {
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	justify-content: space-evenly;

	height: 100px;
}

.avatar-container .username-container h2 {
	font-size: 24px;
	font-weight: bold;
	color: #49289e;
}

.avatar-container .username-container button {
	background-color: #eb1759;
	border: none;
	border-radius: 10px;

	font-size: 16px;
	font-weight: bold;
	color: white;

	padding: 0 1em;
	height: 40px;

	transition: 0.3s;
}

.avatar-container .username-container button:hover {
	transform: translate(0%, 5%) scale(1.05);
	cursor: pointer;
}

.header-container .avatar-container .avatar {
	display: flex;
	align-items: center;
	justify-content: center;

	height: 100px;
	width: 100px;
	margin-left: 1.5em;

	background-color: #fff;
	border-radius: 50%;

	box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.35);
}

.header-container .avatar-container .avatar img {
	max-width: 80%;
	max-height: 80%;
}

.rooms-container {
	display: flex;
	justify-content: center;

	padding: 0 0.5em;
	margin: 0 5em 2em 5em;

	overflow: auto;
	overflow-y: scroll;
	height: 70vh;
}

.rooms-container::-webkit-scrollbar {
	width: 0.3em;
	height: 0.3em;
}

.rooms-container::-webkit-scrollbar-thumb {
	background-color: #eb1759;
}

.rooms-container::-webkit-scrollbar-corner {
	background-color: none;
}

.rooms-list {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 5em;

	width: 100%;

	list-style: none;
}

.rooms-list li {
	display: flex;
	justify-content: space-between;

	background-color: #49289e;
	border-radius: 10px;

	padding: 2em;
}

.rooms-list li .room-data-container {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;

	color: white;
}

.rooms-list li .room-data-container h2 {
	font-size: 42px;
	max-width: 150px;
}

.rooms-list li .door-button-container .Enter {
	font-size: 24px;
	color: white;
	font-family: Roboto;
	display: none;
}

.rooms-list li .door-button-container button {
	background-color: #7445ed;
	border: none;
	border-radius: 20px;
	padding: 1.5em;

	height: 200px;
	width: 200px;

	transition: 0.3s;
}

.rooms-list li .door-button-container button:hover {
	transform: scale(1.05);
	cursor: pointer;
}

.rooms-list li .door-button-container img {
	height: 100%;
}

@media screen and (max-width: 1200px) {
	.header-container {
		margin: 2em 1em;
	}

	.rooms-container {
		margin: 0 1em 1em 1em;
	}

	.rooms-list {
		gap: 1em;
	}

	.rooms-list li {
		padding: 1em;
	}

	.rooms-list li .room-data-container h2 {
		font-size: 32px;
		max-width: unset;
	}

	.rooms-list li .door-button-container button {
		height: 150px;
		width: 150px;
	}
}

@media screen and (max-width: 800px) {
	.rooms-list {
		grid-template-columns: 1fr;
	}
}

@media screen and (max-width: 450px) {
	.rooms-list li {
		flex-direction: column;
	}

	.rooms-list li .room-data-container h2 {
		font-size: 28px;
	}

	.rooms-list li .door-button-container .Enter {
		display: block;
	}

	.rooms-list li .door-button-container img {
		display: none;
	}

	.rooms-list li .door-button-container button {
		padding: 0;
		border-radius: 50px;
		margin-top: 1em;
		width: 100%;
		height: 50px;
	}
}