@import url("../../global.css");

.header_container {
	display: flex;
	align-items: center;
	justify-content: space-between;

	margin-bottom: 2em;
}

.header_container h2 {
	font-size: 24px;
	font-weight: bold;
	color: #49289e;
}

.header_container button {
	background-color: #eb1759;
	border: none;
	border-radius: 10px;

	font-size: 16px;
	font-weight: bold;
	color: white;

	margin-left: 1em;
	padding: 0 1em;
	height: 40px;

	transition: 0.3s;
}

.header_container button:hover {
	transform: translate(0%, 5%) scale(1.05);
	cursor: pointer;
}

.history_container {
	justify-content: center;

	padding: 0 0.5em 0.5em 0;

	overflow: auto;
	overflow-y: scroll;
	height: 80vh;
}

.history_container::-webkit-scrollbar {
	width: 0.3em;
	height: 0.3em;
}

.history_container::-webkit-scrollbar-thumb {
	background-color: #eb1759;
}

.history_container::-webkit-scrollbar-corner {
	background-color: none;
}

.history_container .room_filter {
	display: flex;
	margin-bottom: 2em;
}

.history_container .room_filter select {
	background-color: #eb1759;
	border: none;
	border-radius: 10px;

	font-size: 16px;
	font-weight: bold;
	color: white;

	margin-right: 1em;
	padding: 0 1em;
	height: 40px;
	width: 175px;
}

.history_table {
	border-collapse: collapse;
	width: 100%;
}

.history_table th, td {
	padding: 0.4em;
	max-width: 500px;
	text-align: left;

    background-color: transparent;    
    border-bottom: 1px solid;
    border-color: rgba(235, 25, 92, 0.50);
    outline: none;
}